{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} JPrints Add Document {% endblock %}

{% block body_block %}

    <h1>Add a document for: {{pub.title}}</h1>

        <form id="doc_form" method="post" action="/pub/add_doc/{{pub.id}}/"
            enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{ doc_form.as_table }}
            </table>
            <input type="submit" name="submit" value="Save" />
        </form>

{% endblock %}

