{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} Publication Details {% endblock %}

{% block body_block %}
        <img  width="100px" height="106px" src="{% static "images/Django_Reinhardt.jpg" %}" alt="Logo" />
    {% if publication %}

        <table>
            <tr>
                <td>id</td><td>{{ publication.id}}</td>
            </tr>
 
            <tr>
                <td>Status</td><td>{{ publication.status}}</td>
            </tr>
            <tr>
                <td>Type</td><td>{{ publication.publication_type}}</td>
            </tr>
            <tr>
                <td>Publication Status</td><td>{{ publication.publication_status}}</td>
            </tr>
            <tr>
                <td>Visibilty</td><td>{{ publication.visibility_status}}</td>
            </tr>
            <tr>
                <td>Title</td><td>{{ publication.title }}</td>
            </tr>
            <tr>
                <td>Abstract</td><td>{{ publication.abstract}}</td>
            </tr>
            <tr>
                <td>Conributors</td>
                <td>
                    <ol>
                    {% for c in contributors %}
                        <li>{{c.number}}. {{ c.person.disp_title }} {{ c.person.disp_given }} {{ c.person.disp_family }} {{ c.person.orcid }}
                            ({{ c.contribution_type }})</li> 
                    {% endfor %}
                    </ol>
                </td>
            </tr>
 
            <tr>
                <td>Subjects</td><td>{{ publication.subject}}</td>
            </tr>
            <tr>
                <td>Divisions</td><td>{{ publication.divisions}}</td>
            </tr>
            <tr>
                <td>Last Modified</td><td>{{ publication.lastmod}}</td>
            </tr>
            <tr>
                <td>Revision</td><td>{{ publication.revision}}</td>
            </tr>
            <tr>
                <td>Created</td><td>{{ publication.created}}</td>
            </tr>
            <tr>
                <td>Depositor</td><td>{{ publication.depositor}}</td>
            </tr>
            <tr>
                <td></td><td></td>
                <td></td><td>
                        <form id="pub_edit_form" method="get" action="/pub/edit/{{publication.id}}/">
                        {% csrf_token %}
                    <input type="submit" name="submit" value="Edit" />
                </form>


        </table>

        <br/>
        {% if documents.exists %}
            <h2>Documents</h2>
            <ul>
            {% for d in documents %}
                {% if d.visibility_status == 'P' %}
                    {% if d.filefield %}
                        <li><a href="{{ MEDIA_URL }}{{ d.filefield.name }}">{{ d.doc_type }} {{ d.filefield.name }} {{ d.description }} {{ d.visibility_status }}</a></li>
                    {% else %}
                        <li>{{ d.doc_type }} {{ d.filefield }} {{ d.description }} (No text available)</li>
                    {% endif %}

                {% else %}
                     <li>{{ d.doc_type }} {{ d.filefield }} {{ d.description }} (RESTRICTED)</li>
                {% endif %}
            {% endfor %}
            </ul>
        {% else %}
            <p>No documents are available for this publication.</p>
        {% endif %}

    {% else %}
        <p>No details are available for publication {{ publication_id }}.</p>
    {% endif %}

{% endblock %}

