{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %} Browse {% endblock %}

{% block body_block %}
    <div> 
    <h3>{% trans "Browse" %} {{btype}}</h3>
    {% if btype == 'publication' %}
    <div style="float:right;">
	<form id="bibliograpy_form" method="post" action="{% url "core:bibliograpy" btype %}" >
            {% csrf_token %}
	    <input type='hidden' name='result_list' value="{{export_list}}" />
            <select id="bib_style_sel", name="bib_style">
              {% for csl in cstyles %}
              <option value="{{csl}}">{{csl}}</option>
              {% endfor %}
            </select>
	    <br/>
            <input class="btn" type="submit" name="export" value="{% trans "View as Bibliography" %}" />
        </form>

    </div>
    {% endif %}
    {% if aggs_list %}
        <div class="list-group">

            <!-- <form id="browse_filter_form" method="post" action="/en/jprints/browse/{{btype}}/" > -->
            <form id="browse_filter_form" method="post" action="{% url "core:browse" btype %}" >
                {% csrf_token %}
                {% if 'item_type' in aggs_list %}
                    {% trans "Item Type" %}: 
                    {% for key, val in aggs_list.item_type.items %}
                        <label class="checkbox-inline">
                            <input type="checkbox" name="item_type_{{key}}" onclick="this.form.submit();" 
                                 {% if val.selected == 1 %} checked="checked" {% endif %}
                                value="item_type_{{key}}">{% trans val.label %} ({{val.count}})</label>
                    {% endfor %}
                {% endif %}

                {% if 'pub_status' in aggs_list %}
                    <br/>{% trans "Publication Status" %}: 
                    {% for key, val in aggs_list.pub_status.items %}
                        <label class="checkbox-inline">
                            <input type="checkbox" name="pub_status_{{key}}" onclick="this.form.submit();"
                                 {% if val.selected == 1 %} checked="checked" {% endif %}
                                value="pub_status_{{key}}">{% trans val.label %} ({{val.count}})</label>
                    {% endfor %}
                {% endif %}

                {% if 'status' in aggs_list %}
                    <br/>{% trans "Item Status" %}:
                     {% for key, val in aggs_list.status.items %}
                        <label class="checkbox-inline">
                            <input type="checkbox" name="status_{{key}}" onclick="this.form.submit();" 
                                 {% if val.selected == 1 %} checked="checked" {% endif %}
                                value="status_{{key}}">{% trans val.label %} ({{val.count}})</label>
                    {% endfor %}
                {% endif %}

                {% if 'milestone' in aggs_list %}
                    <br/>{% trans "Year" %}:
                     {% for key, val in aggs_list.milestone.items %}
                        <label class="checkbox-inline">
                            <input type="checkbox" name="milestone_{{val.label}}" onclick="this.form.submit();"
                                 {% if val.selected == 1 %} checked="checked" {% endif %}
                                value="milestone_{{val.label}}">{{val.label }} ({{val.count}})</label>
                    {% endfor %}
                {% endif %}

                {% if 'user_org' in aggs_list %}
                    <h4>User Organisation</h4>
                {% endif %}
                {% if 'user_dept' in aggs_list %}
                    <h4>User Department</h4>
                {% endif %}
                {% if 'user_type' in aggs_list %}
                    <h4>User Type</h4>
                {% endif %}
                {% if 'family' in aggs_list %}
                    <h4>Family Name</h4>
                {% endif %}
                {% if 'first_char' in aggs_list %}
                    <h4>Alphabetic List</h4>
                {% endif %}

<!--
                {% for key, val in aggs_list.items %}
                    <h4>{{key}} - {{val}} agg</h4> 
                {% endfor %}
                <br/>
                <input type="submit" name="updatebrowse" value="Refresh" />
-->
                <br/>
                <br/>
                <div class="text-center">
                {% trans "Showing results" %} {{qfrom}} {% trans "to" %} {{qto}} {% trans "of a total of" %} {{total}}<br/>
                {% if qfrom > 0 %}<input class="btn" type="submit" name="prev_{{qfrom}}_{{qsize}}" value="{% trans "Prev" %}" />{% endif %}
                {% if qto < total %}<input class="btn" type="submit" name="next_{{qfrom}}_{{qsize}}" value="{% trans "Next" %}" />{% endif %}
                </div>
            </form>

        </div>
    {% else %}
        <p>{% trans "There are no filters for this view" %}</p>
    {% endif %}
 
    {% if result_list %}
        <div class="list-group">
        {% for result in result_list %}
            <div class="list-group-item">
            {% if result.type == "publication" %}
                <h4 class="list-group-item-heading">
                <a href="{% url 'publication:detail' result.id %}">
                    <img width="20px" height="20px" src="{% static 'images/' %}{{ result.obj.get_icon_name }}" alt="icon" /> {{ result.obj.get_search_citation }}</a>
                </h4> 
            {% elif result.type == "fulltext" %}
                <h4 class="list-group-item-heading">
                <a href="{% url 'publication:detail' result.obj.publication.id %}">
                    <img width="20px" height="20px" src="{% static 'images/' %}{{ result.obj.publication.get_icon_name }}" alt="icon" /> FULLTEXT {{ result.obj.publication.get_search_citation }}</a>
                </h4> 
 
            {% elif result.type == "person" %}
                <h4>
                    <a href="{% url 'core:detail' result.id %}">
                       <img width="20px" height="20px" src="{{ MEDIA_URL }}{{ result.obj.photo.name }}" alt="photo" /> {{ result.obj.get_search_citation }}
                    </a>
                </h4> ({{result.obj.orcid}})
                {% endif %}

            </div>
        {% endfor %}
        </div>
    {% else %}
        <p>{% trans "There are currently no items in this view" %}</p>
    {% endif %}
    </div>
{% endblock %}

